@tailwind base;
@tailwind components;
@tailwind utilities;

:global(*),
:global(*::before),
:global(*::after) {
	box-sizing: border-box;
}

:global(html),
:global(body) {
	margin: 0;
	padding: 0;
	width: 100%;
	overflow-x: hidden;
}
