---
import "../styles/global.css";
import StarField from "../components/StarField.astro";
import HeroSection from "../components/HeroSection.astro";
import SocialLinks from "../components/SocialLinks.astro";
import AboutSection from "../components/AboutSection.astro";
import ExperienceSection from "../components/ExperienceSection.astro";
import { jobs } from "../data/jobs";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Dominik Ritz</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400..700&family=Sora:wght@400..700&display=swap"
			rel="stylesheet"
		/>
		<style>
			body {
				background-color: #222;
				margin: 0;
				padding: 0;
				font-family: "Montserrat", sans-serif;
				overflow-x: hidden;
			}
		</style>
	</head>
	<body>
		<StarField />
		<HeroSection />
		<SocialLinks />
		<AboutSection />
		<ExperienceSection jobs={jobs} />
	</body>
</html>
